<article id="comment-<%= index %>" class="comment-card pad-<%= (index % 6) + 1 %>">
	<h2><%= comment.title %></h2>
	<p class="comment-text"><%= comment.comment %></p>
	<p class="comment-author"><%= comment.author %></p>

	<div class="comment-actions" aria-label="Comment actions">
		<form action="/edit#comment-<%= index %>" method="POST">
			<input type="hidden" name="editIndex" value="<%= index %>" />
			<button class="icon-button" type="submit" aria-label="Edit this comment">
				<svg viewBox="0 0 24 24" aria-hidden="true"><path d="M4 16.5V20h3.5L18 9.5 14.5 6 4 16.5Zm16.7-9.8a1 1 0 0 0 0-1.4l-2-2a1 1 0 0 0-1.4 0l-1.6 1.6 3.5 3.5 1.5-1.7Z"/></svg>
			</button>
		</form>
		<form class="delete-comment-form" action="/delete" method="POST">
			<input type="hidden" name="commentIndex" value="<%= index %>" />
			<button class="icon-button" type="submit" aria-label="Delete this comment">
				<svg viewBox="0 0 24 24" aria-hidden="true"><path d="M7 21a2 2 0 0 1-2-2V7h14v12a2 2 0 0 1-2 2H7Zm3-3h1V10h-1v8Zm3 0h1V10h-1v8Zm-9-13V3h5l1-1h4l1 1h5v2H4Z"/></svg>
			</button>
		</form>
	</div>
</article>
