<article id="comment-<%= index %>" class="comment-card edit-card pad-<%= (index % 6) + 1 %>">
	<form action="/save#comment-<%= index %>" method="POST">
		<input type="hidden" name="editIndex" value="<%= index %>" />
		<label>Title <input type="text" name="title" value="<%= comment.title %>" required /></label>
		<label>Comment <textarea name="comment" rows="3" maxlength="220" required><%= comment.comment %></textarea></label>
		<label>Name <input type="text" name="author" value="<%= comment.author %>" /></label>
		<div class="edit-actions">
			<button class="text-button" type="submit">Save</button>
			<a class="text-button text-button--quiet" href="/#comment-<%= index %>">Cancel</a>
		</div>
	</form>
</article>
