<%- include("partials/header.ejs") %>

<div class="container bubble">
	<div class="bubblingArea">
		<h2 class="bubblingText potta-one-regular">"What’s bubbling in your throat today?"</h2>
		<div class="bubblingTop">
			<img src="/images/toad.png" alt="sitting toad" class="bubblingIcon" />
			<a href="#croakForm" id="bubblingCroak" class="potta-one-regular">Release a Croak</a>
		</div>

		
	</div>
</div>




<div class="container">
	<div id="comments" class="commentArea d-flex justify-content-center">
		<% comments.forEach((c, index) => {%>
    <% if (c === locals.commentToEdit) { %>
        
      <div id="comment-<%= index %>" class="comment bg-<%= (index % 8) + 1 %>">
        <form action="/save" method="POST">
    
          <input type="hidden" name="editIndex" value="<%= index %>">
    
          <label>
            <strong>Title:</strong><br />
            <input class="field" type="text" name="title" value="<%= c.title %>">
          </label>
    
          <label>
            <strong>Comment:</strong><br />
            <textarea class="field" name="comment" rows="4"><%= c.comment %></textarea>
          </label>

          <label>
            <strong>Author:</strong><br />
            <input class="field" type="text" name="author" value="<%= c.author %>">
          </label><br />
		  <div class="iconRow">
			<!-- SAVE BUTTON -->
          <button type="submit" class="save icon-btn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class=" bi bi-check-circle-fill" viewBox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		  </svg></button>

			<!-- CANCEL BUTTON -->
          <button a href="/" type="submit" class="icon-btn cancel"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
			<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
			<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
		  </svg></button></div>
        </form>
      </div>
    <% } else {
				%>
				<div class="comment google-sans-message leaf bg-<%= (index % 8) + 1 %>" data-index="<%= index %>">
					<p class="title potta-one-regular" id="leafTitle"> <%= c.title %></p>
					<p class="comment-text"><%= c.comment %></p>
          <p class="author potta-one-regular"><%= c.author %></p>

		  <div class="iconRow">
					<!-- EDIT BUTTON -->
					<form action="/edit#comment-<%= index %>" method="POST" style="display: inline">
						<input type="hidden" name="editIndex" value="<%= index %>" />
						<button type="submit" class="edit icon-btn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="fancyButton bi bi-pencil-square" viewBox="0 0 16 16">
  <path fill="currentColor" d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill="currentColor" fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg></button></form>

					<!-- DELETE BUTTON -->
					<form action="/delete#comments" method="POST" style="display: inline">
						<input type="hidden" name="commentIndex" value="<%= index %>" />
						<button type="submit" class="delete icon-btn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" class="fancyButton bi bi-trash3-fill" viewBox="0 0 16 16">
  <path fill="currentColor" d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
</svg></button></div>
					</form>
				</div>
				<%
			}

		}) %>
	</div>
</div>

<div class="container">
  <h3 id="clean">Keep the pond clean!<br />
Please wipe your feet <span class="before">before</span> entering the pond.</h3>
	<div id="croakArea" class="justify-content-center">
		<form id="croakForm" action="/submit" method="POST">
			<label>
				<input type="text" id="authorInput" name="author" placeholder="Your name"/> </label
			>

			<label>
				<input type="text" id="titleInput" name="title"  placeholder="Title" /> </label
			>

			<label>
				<textarea name="comment" id="commentInput" rows="4" placeholder="Write your croak here..."></textarea></label
			>

			<button class="croakButton potta-one-regular" type="submit" id="croakButton">CROAK!</button>
		</form>
	</div>
</div>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
	crossorigin="anonymous"
></script>
<script src="/scripts/main.js" defer></script>

<%- include("partials/footer.ejs") %>
